build/
CMakeFiles/
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.pch
*.idb
*.iobj
*.manifest
*.deps
.vs/
.vcxproj*
.sln
.ipch
.ids
.nuget
.packages
packages.config
include/httplib.h
.git/
.gitignore
README.md
LICENSE
tests/
.dockerignore
docker-compose.yml